* {
  box-sizing: border-box;
}
/*
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

@media (max-width: 768px) {
  .content {
    padding: 1rem 0;
  }
}
*/